<!DOCTYPE html>
<html class="gr__smashstreamer_com">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-112341214-1');
  </script>
  <!-- Jquery -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script>
    $(function () {
      var socket = io();
      console.log('ready')
      socket.on('match_update', function (data) {
        console.log('Test...', data)
        $('#playerOnePrefix').text(data.playerOne.team)
        $('#playerOneTag').text(data.playerOne.name)
        $('#playerOneScore').html(data.playerOne.score)
        $('#leftCharacterNameWeeb').html(data.playerOne.character.displayNameJa)
        $('#leftCharacterName').html(data.playerOne.character.displayName.en_US)
        $('#leftCharacter').animate({ 'opacity': 0 }, AnimationLength, function () {
          $('#leftSide').css('background', data.playerOne.character.color)
          $('#leftCharacter').css('background-image', 'url(/renders/' + data.playerOne.character.file + '.png)')
          .attr('class',`CharImage ${data.playerOne.character.file}`)
        }).animate({ 'opacity': 1 }, AnimationLength);
        $('#playerTwoPrefix').text(data.playerTwo.team)
        $('#playerTwoTag').text(data.playerTwo.name)
        $('#playerTwoScore').html(data.playerTwo.score)
        $('#rightCharacterNameWeeb').html(data.playerTwo.character.displayNameJa)
        $('#rightCharacterName').html(data.playerTwo.character.displayName.en_US)
        $('#rightCharacter').animate({ 'opacity': 0 }, AnimationLength, function () {
          $('#rightSide').css('background', data.playerTwo.character.color)
          $('#rightCharacter').css('background-image', 'url(/renders/' + data.playerTwo.character.file + '.png)')
          .attr('class',`CharImage ${data.playerTwo.character.file}`)
        }).animate({ 'opacity': 1 }, AnimationLength);
        $('.tourneyName').text(data.tourneyName)
        $('.tourneyRound').text(data.tourneyRound)
      });
    });
  </script>

  <title>Stream</title>
  <link rel="shortcut icon" href="http://smashstreamer.com/content/Images/TournamentLogo.png" />
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body style="" data-gr-c-s-loaded="true" data-feedly-mini="yes">
  <span id="playerOneCharacter" class="hide"></span>
  <span id="playerTwoCharacter" class="hide"></span>
  <div id="leftSide">
    <div class="CharName--wrapper">
      <div id="leftCharacterNameWeeb" class="CharNameInfo--Weeb">weeb</div>
      <div id="leftCharacterName" class="CharNameInfo">CHARACTER</div>
    </div>
    <div id="leftCharacter" class="CharImage">
    </div>
    <div id="playerOneInfo" class="playerInfo">
      <h1><span class="sponsor" id="playerOnePrefix">NTN</span> | <span id="playerOneTag">Xotl</span></h1>
    </div>
  </div>
  <div id="rightSide">
    <div class="CharName--wrapper">
      <div id="rightCharacterNameWeeb" class="CharNameInfo--Weeb">weeb</div>
      <div id="rightCharacterName" class="CharNameInfo">CHARACTER</div>
    </div>
    <div id="rightCharacter" class="CharImage">
    </div>
    <div id="playerTwoInfo" class="playerInfo">
      <h1><span class="sponsor" id="playerTwoPrefix">SEES</span> | <span id="playerTwoTag">DIO</span></h1>
    </div>
  </div>
  <div id="gameWindow">
  </div>
  <div id="bottom">
    <div class="leftCam">
    </div>
    <div class="tournamentInfo">
      <div class="tourneyScore">
        <span class="score" id="playerOneScore">2</span> - <span class="score" id="playerTwoScore">1</span>
      </div>
      <div class="tourneyName--wrapper">
        <div class="tourneyName">Haxor Magic</div>
      </div>
      <div class="tourneyRound--wrapper">
        <div class="tourneyRound">Pools</div>
      </div>
    </div>
    <div class="rightCam">
    </div>
  </div>
  <script type="text/javascript">
    var AnimationLength = 250;
    var refreshRate = 1000;

    function FirstUpdate(index, value) {

      if (index == 'leftCharacter' || index == 'rightCharacter' || index == 'leftFlag' || index == 'rightFlag') {
      }
      else if ($('#' + index).text() != value) {
        $('#' + index).animate({ 'opacity': 0 }, 1000, function () {
          $('#' + index).text(value);
        }).animate({ 'opacity': 1 }, AnimationLength);
      }
      // else if(){

      // }
    };
    function UpdateStream(index, value) {
      if (value == "") {
        value = " ";
      }
      if (index == 'leftCharacter' || index == 'rightCharacter' || index == 'leftFlag' || index == 'rightFlag' || index == "background") {
        if (index == 'leftCharacter' && $('#playerOneCharacter').text() != value) {
          $('#playerOneCharacter').text(value);
          $('#leftCharacter').animate({ 'opacity': 0 }, AnimationLength, function () {
            $('#leftCharacter').css('background-image', 'url(' + value + ')').addClass(value);
            console.log('charname', value);
          }).animate({ 'opacity': 1 }, AnimationLength);
        }
        else if (index == 'rightCharacter' && $('#playerTwoCharacter').text() != value) {
          $('#playerTwoCharacter').text(value);
          $('#rightCharacter').animate({ 'opacity': 0 }, AnimationLength, function () {
            $('#rightCharacter').css('background-image', 'url(' + value + ')').addClass(value);

          }).animate({ 'opacity': 1 }, AnimationLength);
        }
        else if (index == 'leftFlag' && $('#playerOneCountry').text() != value) {
          $('#playerOneCountry').text(value);
          $('#leftFlag').animate({ 'opacity': 0 }, AnimationLength, function () {
            $('#leftFlag').css('background-image', 'url(' + value + ')');

          }).animate({ 'opacity': 1 }, AnimationLength);
        }
        else if (index == 'rightFlag' && $('#playerTwoCountry').text() != value) {
          $('#playerTwoCountry').text(value);
          $('#rightFlag').animate({ 'opacity': 0 }, AnimationLength, function () {
            $('#rightFlag').css('background-image', 'url(' + value + ')');

          }).animate({ 'opacity': 1 }, AnimationLength);
        }
        else if (index == 'background' && $('#background').text() != value) {
          $('#background').text(value);
          $('body').css('background-image', 'url(' + value + ')');
        }
      }
      else if ($('#' + index).text() != value) {
        $('#' + index).animate({ 'opacity': 0 }, AnimationLength, function () {
          $(this).text(value);
        }).animate({ 'opacity': 1 }, AnimationLength);
      }
      // else if(){

      // }
    };
  </script>


  <div id="feedly-mini" title="feedly Mini tookit"></div>
</body>

</html>