@import "animations";

$appWith: 1920px;
$appHeight: 1080px;

html,
body {
    max-width: $appWith;
    max-height: $appHeight;
    overflow: hidden;
    background-color: black;
    width: $appWith;
    height: $appHeight;
    margin: 0px;
    font-size: 13px;
}

body {
    background-image: url('../assets/background.jpg');
    background-size: auto 80%;
    animation-name: backgroundAnimation;
    animation-duration: 150s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    background-repeat: repeat-x;
}

#leftSide,
#rightSide {
    height: calc(#{$appHeight} - 260px);
    width: 240px;
    position: absolute;
    display: flex;
    flex-direction: column;
    z-index: 100;

    .playerInfo {
        background-image: url(../assets/blend_logo.jpg);
        background-color: black;
        background-size: 380px auto;
        background-repeat: no-repeat;
        background-position: -80px center;
        background-blend-mode: exclusion;
        bottom: -74px;
        width: 500px;
        height: auto;
        color: white;
        font-family: Impact;
        top: auto;
        left: -4px;
        z-index: 100;
        transform: skew(3deg, 4deg);
        position: absolute;
        box-shadow: 2px 2px 25px rgba(255,255,255,0.15);

        h1 {
            font-size: 50px;
            text-align: center;
            margin: 10px 0;
        }
    }

    .CharImage.mario {
        background-position: left center;
    }
}

#rightSide {
    left: auto;
    right: 0px;
    // border-left: 10px solid white;

    .CharName--wrapper {
        text-align: right;
    }

    .playerInfo {
        left: auto;
        right: -4px;
        transform: skew(-3deg, -4deg);
        background-position: calc(100% + 80px) center;
    }
}

.CharName--wrapper {
    position: relative;
    top: 30px;
    background: black;
    padding: 15px;
    flex: 0 1 auto;

    .CharNameInfo {
        color: white;
        font-family: Impact;
        font-size: 32px;

        &--Weeb {
            @extend .CharNameInfo;
            font-size: 18px;
        }
    }
}

.CharImage {
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: center 20%;
    width: 100%;
    height: 800px;
    display: flex;
    flex: 1 1 auto;
    overflow: hidden;
}

#bottom {
    position: absolute;
    height: 250px;
    top: auto;
    width: 100%;
    bottom: 0px;
    display: flex;

    .leftCam,
    .rightCam {
        flex: 0 0 480px;
        width: 480px;
        height: 248px;
        z-index: 99;
        // border: 6px solid black;
    }

    .tournamentInfo {
        flex: 1 1 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: black;
    }

    .tourney {
        &Round--wrapper,
        &Name--wrapper,
        &Score {
            flex: 1 1 auto;
            color: white;
            font-family: Impact, Sans-serif;
        }

        &Score {
            font-size: 90px;
        }

        &Name--wrapper {
            font-size: 65px;
        }

        &Round--wrapper {
            font-size: 25px;
        }
    }
    
    
}



#gameWindow {
    position: absolute;
    width: 1440px;
    height: 810px;
    left: 240px;
    z-index: 1;
}



.sponsor {
    color: #add8e6;
}


.hide {
    display: none;
}

#playerOneScore,
#playerTwoScore,
#playerOneTag,
#playerOneTwitter,
#playerTwoTag,
#playerTwoTwitter,
#tourneyName,
#tourneyRound {
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}
